


h1{
    margin-bottom: 200px;
    font-size: 4rem;
    text-align: center;
    display: block;
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


table{
   
  
    
    margin: auto;
}

table, tr, th{

    padding: 10px;
    background-color: rgb(107, 207, 107);

    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

table , tr , td{
    
    padding: 10px;
    background-color: rgb(31, 196, 31);

    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;

}

table button{
background-color: rgb(31, 155, 196);
font-size: 1.5rem;
}
table button:hover{
    background-color: rgb(50, 116, 138);
}

.full-screen{
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.full-screen img{
    max-width: 190%;
    max-height: 190%;
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}